In [1]:
import pandas as pd
import numpy as np
import math as mt
import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
TwUsers = pd.read_csv('Twitch_user_data.csv')
TwUsers

,Channel,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language
0,xQcOW,6196161750,215250,222720,27716,3246298,1734810,93036735,True,False,English
1,summit1g,6091677300,211845,310998,25610,5310163,1370184,89705964,True,False,English
2,Gaules,5644590915,515280,387315,10976,1767635,1023779,102611607,True,True,Portuguese
3,ESL_CSGO,3970318140,517740,300575,7714,3944850,703986,106546942,True,False,English
4,Tfue,3671000070,123660,285644,29602,8938903,2068424,78998587,True,False,English
...,...,...,...,...,...,...,...,...,...,...,...
995,LITkillah,122524635,13560,21359,9104,601927,562691,2162107,True,False,Spanish
996,빅헤드 (bighead033),122523705,153000,3940,793,213212,52289,4399897,True,False,Korean
997,마스카 (newmasca),122452320,217410,6431,567,109068,-4942,3417970,True,False,Korean
998,AndyMilonakis,122311065,104745,10543,1153,547446,109111,3926918,True,False,English
999,Remx,122192850,99180,13788,1205,178553,59432,2049420,True,False,French

In [3]:
TwUsers[TwUsers["Watch time(Minutes)"].isnull()]

Empty DataFrame
Columns: [Channel, Watch time(Minutes), Stream time(minutes), Peak viewers, Average viewers, Followers, Followers gained, Views gained, Partnered, Mature, Language]
Index: []

In [4]:
TwUsers[TwUsers["Stream time(minutes)"].isnull()]

Empty DataFrame
Columns: [Channel, Watch time(Minutes), Stream time(minutes), Peak viewers, Average viewers, Followers, Followers gained, Views gained, Partnered, Mature, Language]
Index: []

In [5]:
TwUsers[TwUsers["Peak viewers"].isnull()]

Empty DataFrame
Columns: [Channel, Watch time(Minutes), Stream time(minutes), Peak viewers, Average viewers, Followers, Followers gained, Views gained, Partnered, Mature, Language]
Index: []

In [6]:
TwUsers[TwUsers["Average viewers"].isnull()]

Empty DataFrame
Columns: [Channel, Watch time(Minutes), Stream time(minutes), Peak viewers, Average viewers, Followers, Followers gained, Views gained, Partnered, Mature, Language]
Index: []

In [7]:
TwUsers[TwUsers["Followers"].isnull()]

Empty DataFrame
Columns: [Channel, Watch time(Minutes), Stream time(minutes), Peak viewers, Average viewers, Followers, Followers gained, Views gained, Partnered, Mature, Language]
Index: []

In [8]:
TwUsers[TwUsers["Followers gained"].isnull()]

Empty DataFrame
Columns: [Channel, Watch time(Minutes), Stream time(minutes), Peak viewers, Average viewers, Followers, Followers gained, Views gained, Partnered, Mature, Language]
Index: []

In [13]:
TwUsers[TwUsers["Views gained"].isnull()]

Empty DataFrame
Columns: [Channel, Watch time(Minutes), Stream time(minutes), Peak viewers, Average viewers, Followers, Followers gained, Views gained, Partnered, Mature, Language]
Index: []

In [16]:
TwUsers.isnull()

,Channel,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False